<div class="modal hidden" data-action="add-timer">
    <div class="overlay">&nbsp;</div>
    <div class="modal-container card--dark fixed-center">
      <div class="modal-content">
        <h5 class="h-5 mg-bg">Add new timer</h5>

        <div class="modal-boxs mg-bg" data-disabled="false">
          <div class="modal-box" data-active="true">
            <button
              class="modal-box__btn btn-icon--square"
              data-btn="increase"
            >
              <i class="fas fa-angle-up"></i>
            </button>
            <p type="text" class="modal-time__value">00</p>
            <button
              class="modal-box__btn btn-icon--square"
              data-btn="decrease"
            >
              <i class="fas fa-angle-down"></i>
            </button>
          </div>
          <i class="fas fa-ellipsis-v icon--dim icon--bg"></i>
          <div class="modal-box">
            <button
              class="modal-box__btn btn-icon--square"
              data-btn="increase"
            >
              <i class="fas fa-angle-up"></i>
            </button>
            <p type="text" class="modal-time__value">00</p>
            <button
              class="modal-box__btn btn-icon--square"
              data-btn="decrease"
            >
              <i class="fas fa-angle-down"></i>
            </button>
          </div>
          <i class="fas fa-ellipsis-v icon--dim icon--bg"></i>
          <div class="modal-box">
            <button
              class="modal-box__btn btn-icon--square"
              data-btn="increase"
            >
              <i class="fas fa-angle-up"></i>
            </button>
            <p type="text" class="modal-time__value">00</p>
            <button
              class="modal-box__btn btn-icon--square"
              data-btn="decrease"
            >
              <i class="fas fa-angle-down"></i>
            </button>
          </div>
        </div>

        <div class="modal-name mg-bg" data-active="false">
          <i class="fas fa-edit icon--md"></i>
          <input type="text" class="modal-name__input" value="Timer(1)" />
        </div>

        <div class="modal-crud__btns">
          <button class="modal-crud__btn btn--primary" data-action="save">
            <i class="fas fa-save"></i>
            <span>Save</span>
          </button>
          <button class="modal-crud__btn btn--outline" data-action="cancel">
            <i class="fas fa-times"></i>
            <span>Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>