.main-container {
  display: grid;
  grid-template-columns: 1.8fr 8.2fr;
  background: #313131;
  background: var(--default-background);
  font-size: $font-size-md;
  height: 100vh;
  width: 100vw;
}

.nav {
  background: var(--default-background);
  height: 100%;
}
.main {
  background: var(--background-dark);
  padding: 4.8rem;
}
