<nav class="nav">
    <div class="nav-header">
      <div class="nav-menu nav-menu__desktop">
        <i class="fas icon fa-clock"></i>
        <h8 class="h-8 light">Clock</h8>
      </div>

      <div class="nav-menu nav-menu__phone hidden">
        <i class="fas icon fa-bars"></i>
      </div>
    </div>
    <div class="nav-content">
      <ul class="list nav-list">
        <li
          class="list-item nav-item"
          data-section="timer"
          data-active="true"
        >
          timer
          <i class="fas icon fa-hourglass-half"></i>
        </li>
        <li class="list-item nav-item" data-section="alarm">
          alarm
          <i class="fas icon fa-bell"></i>
        </li>
        <li class="list-item nav-item" data-section="stopwatch">
          stopwatch

          <i class="fas icon fa-stopwatch"></i>
        </li>

        <li class="list-item nav-item" data-section="settings">
          settings
          <i class="fas icon fa-cog"></i>
        </li>
      </ul>
    </div>
  </nav>